html{
    width:100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
    margin: 0;
   
}
#root{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 700px) {
    body,html{
        height:unset;
    }
    body{
        padding-top:20px;
    }
}